<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.lsinf1225gr12.minipoll.minipoll">

    <application
        android:name="be.lsinf1225gr12.minipoll.minipoll.MiniPollApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.CreateActivity" />
        <activity android:name=".activity.ChooseFriendActivity" />
        <activity android:name=".activity.CreateQuestionnaireActivity" />
        <activity android:name=".activity.CreateChoixActivity" />
        <activity android:name=".activity.CreateSondageActivity" />
        <activity android:name=".activity.Friend_List_Activity" />
        <activity android:name=".activity.FriendMenuActivity" />
    </application>

</manifest>